<!DOCTYPE html>
</html>
    <head>
        <title>HTTP Project | Tools Team</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/main.js"></script>
    </head>
    <body>
        <div id="wrapper">            
            <div class="page-container">
